.main-div {
    margin: 0px auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 40px;

}

span {
    font-size: 50px;
}

.btn-mar {
    margin-top: 30px;
}

.btn {
   padding: 10px 20px;
   font-size: 20px; 

}